[Desktop Entry]
Type=Application
Name=WireArch
GenericName=WireGuard VPN Client
Comment=Manage WireGuard VPN tunnels
Icon=network-vpn
Exec=wirearch
Terminal=false
Categories=Network;Qt;KDE;Security;
Keywords=VPN;WireGuard;Tunnel;Network;
X-KDE-StartupNotify=true
